.form {
  width: 400px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  padding: 20px;
  border-radius: 20px;
  font-size: 1.3rem;
  font-weight: 600;
}

.inputrow {
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
}

input {
  width: 300px;
  padding: 4px 10px;
  margin: 0 10px;
}

button {
  width: 150px;
  border-radius: 8px;
  margin: 10px;
  padding: 5px 10px;
  border: none;
  background-color: salmon;
  color: white;
  font-size: 1.2rem;
}
